.element-highlighter-hover {
    outline: 3px solid red !important;
    background-color: rgba(226, 131, 131, 0.1) !important;
}


.ext-element-highlighter-tooltip {
    /* position: fixed;
    z-index: 10000;
    background: rgba(50, 50, 50, 0.9);
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    font-size: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    outline: 3px solid red !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
    z-index: 10000;
  }
  
  .ext-element-highlighter-hover {
    outline: 2px solid red;
  }
